<div class="alquileres-crud container">
  
  <h2>Gestión de Mantenimientos</h2>

  <div class="actions">
    <input 
      type="text" 
      placeholder="Buscar por vehículo, tipo o empleado..."
      [(ngModel)]="filter"
      (ngModelChange)="applyFilter()"
    />
  </div>

  <table class="alquileres-table" *ngIf="vehiculosPendientes.length; else emptyList">
    <thead>
    <tr>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Patente</th>
      <th>Tipo</th>
      <th>Kilometraje</th>
      <th>Mantenimiento</th>
    </tr>
  </thead>
  <tbody>
   <tr *ngFor="let v of vehiculosPendientes">
  <td>{{ v.marca }}</td>
  <td>{{ v.modelo }}</td>
  <td>{{ v.patente }}</td>
  <td>{{ v.tipo }}</td>
  <td>{{ v.kilometraje }}</td>
  <td>
    <span class="badge alerta">⚠️ Requiere mantenimiento</span>
  </td>
      <td>
      <button (click)="redirigirMantenimiento(v)">Registrar</button>
    </td>
</tr>
  </tbody>
</table>
    <!-- <thead>
      <tr>
        <th>Vehículo</th>
        <th>Empleado</th>
        <th>Fecha</th>
        <th>Km Actual</th>
        <th>Tipo</th>
        <th>Costo</th>
        <th>Obs.</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let m of mantenimientosFiltered">
        <td>{{ (getVehiculo(m.id_vehiculo ?? 0 )?.marca ) }} {{ getVehiculo(m.id_vehiculo ?? 0 )?.modelo }}</td>
        <td>{{ getEmpleado(m.id_empleado ?? 0)?.nombre }}</td>
        <td>{{ m.fecha | date:'shortDate' }}</td>
        <td>{{ m.km_actual }}</td>
        <td>
          <span class="badge" 
                [ngClass]="m.tipo === 'preventivo' ? 'activo' : 'completado'">
            {{ m.tipo }}
          </span>
        </td>
        <td>${{ m.costo }}</td>
        <td>{{ m.observaciones }}</td>
      </tr>
    </tbody>
  </table> -->

  <ng-template #emptyList>
    <p>No hay mantenimientos registrados.</p>
  </ng-template>

</div>
